<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            padding: 15px;
        }
        header{
            color: white;
            background-color: black;
            text-align: center;
            padding: 10px;
            border-radius: 8px;
        }
        h1{
            margin: 5px;
        }
        main{
            background-color: brown;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
        }
        main h2{
            color: white;
            font-size: 30px;
        }
        section{
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        article{
            background-color: white;
            padding: 10px;
        }
        footer{
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <header>
        <h1>La Tienda del Vagabundo</h1>
    </header>
    <br>
    <main>
    </main>
    <br>
    <footer>
        <h4>por juan pacheco</h4>
    </footer>
</body>
</html>